/* Handles frontend UI appearance */
/* Handles the styling of popup interface */
/* It ensures the popup is visuallu appealing and easy to use */

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  width: 250px;
}

h3 {
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#editApiKeyButton {
  background-color: rgba(255, 255, 0, 0.904);
  color: black;
}
